@function capitalize($string)
{
	@return to_upper_case(str_slice($string,1,1) + str_slice($string,2));
}

@function transparent()
{
	@return rgba(0, 0, 0, 0);
}

@function color($key)
{
	@if map_has_key($color-palette, $key)
	{
		@return map_get($color-palette, $key);
	}
	
	@warn "Unknown `#{$key}` in $color-pallete.";
	@return null;
}

@function index($key)
{
	@if map_has_key($z-index, $key)
	{
		@return map_get($z-index, $key);
	}
	
	@warn "Unknow `#{$key}` in $z-index.";
	@return null;
}

@function use-rem($size)
{
	$_rem-size: $size / 16px;
	@return $_rem-size * 1rem;
}

@function generate-columns-list($type)
{
	$list: ();
	
	@for $i from 1 through $grid-columns
	{
		$list: append($list, '.#{$type}#{$i}', comma);
	}
	
	@return $list;
}

@function img-url($string,$extension:'png')
{
	@return url('#{$img-path}#{$string}.#{$extension}')
}

@function svg($string)
{
	@return img-url($string, 'svg');
}

@function png($string)
{
	@return img-url($string);
}

@function jpg($string)
{
	@return img-url($string, 'jpg')
}

@function column-width($container-width,$columns:$grid-columns,$gutter:$gutter-size)
{
	@return ($container-width - $gutter * ($columns - 1)) / $columns;
}