@mixin clear-fix()
{
	&:before,
	&:after
	{
		content: ''; // 1
		display: table; // 2
	}
	
	&:after
	{
		clear: both;
	}
}

@mixin font-item($name, $type, $weight)
{
	$path: #{map_get($config,font-path) + capitalize($name)+ '/'};
	
	@font-face
	{
		font-family: '#{capitalize($name)}';
		font-weight: $weight;
		src: font-url('#{$path}#{$name}-#{$type}.eot');
		src: font-url('#{$path}#{$name}-#{$type}.eot?#iefix') format('embedded-opentype'),
		font-url('#{$path}#{$name}-#{$type}.woff') format('woff'),
		font-url('#{$path}#{$name}-#{$type}.ttf') format('truetype'),
		font-url('#{$path}#{$name}-#{$type}.svg##{$name}') format('svg');
		font-style: normal;
		font-display: swap;
	}
}

@mixin img-url($string,$extension:'png')
{
	background-image: img-url($string, $extension);
	
	@media(min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	{
		$string: #{$string + '@2x'};
		background-image: img-url($string, $extension);
	}
}

@mixin svg($string)
{
	@include img-url($string, 'svg');
}

@mixin png($string)
{
	@include img-url($string);
}

@mixin jpg($string)
{
	@include img-url($string, 'jpg');
}

@mixin font-details($size,$weight,$font-family:map_get($config,default-font-family))
{
	font-family: $font-family;
	@if (map_get($config, rem-unit))
	{
		font-size: $size;
		font-size: use-rem($size);
	} @else
	{
		font-size: $size;
	}
	font-weight: $weight;
}

@mixin placeholder()
{
	&::-webkit-input-placeholder
	{
		@content
	}
	&:-moz-placeholder
	{
		@content
	}
	&::-moz-placeholder
	{
		@content
	}
	&:-ms-input-placeholder
	{
		@content
	}
}

@mixin auto-alignment-margin()
{
	margin:
	{
		left: auto;
		right: auto;
	}
}