@import "../utils/functions";

$config: (
	columns: 12,
	gutter: 30px,
	max-width: 1680px,
	layouts: (
		xs: (
			max: 599px,
			container-percent: 100%
		),
		sm: (
			min: 600px,
			max: 1023px,
			container-percent: 100%
		),
		tb: (
			min: 1024px,
			max: 1259px,
			container-percent: 95%
		),
		md: (
			min: 1260px,
			max: 1439px,
			container-percent: 92%
		),
		lg: (
			min: 1440px,
			max: 1919px,
			container-percent: 89%
		),
		xl: (
			min: 1920px,
			container-percent: 85%
		)
	),
	media-breakpoints: (
		xl: (
			min: 1920px
		),
		lg: (
			min: 1440px,
			max: 1919px,
		),
		lgmin: (
			min:1440px,
		),
		lgmax: (
			max:1919px,
		),
		md: (
			min: 1260px,
			max: 1439px,
		),
		mdmin: (
			min:1260px,
		),
		mdmax: (
			max:1439px,
		),
		tb: (
			min: 1024px,
			max: 1259px,
		),
		tbmin: (
			min:1024px,
		),
		tbmax: (
			max:1259px,
		),
		sm: (
			min: 600px,
			max: 1023px,
		),
		smmin: (
			min:600px,
		),
		smmax: (
			max:1023px,
		),
		tablets: (
			min: 600px,
			max: 1259px
		),
		xs: (
			max: 599px
		),
		mobile: (
			min: 320px,
			max: 480px,
		),
		watch: (
			max : 50mm
		),
	),
	fixed-layout: true,
	flex-layout:false,
	rem-unit: false,
	debug-mode: false,
	font-path: '../assets/fonts/',
	img-path: '../../assets/img/',
	default-font-family: 'OpenSans'
) !default;