$extra-large-screen-min: 1920px !default;
$large-screen-min: 1440px !default;
$medium-screen-min: 1260px !default;
$tablet-screen-min: 1024px !default;
$small-screen-min: 600px !default;
$container-max-width: 1890px;
$gutter-size: 30px;
$grid-columns: 12;

$allow-fixed-container: true;
$allow-rem-size: false;

$fonts-path: '/assets/fonts/';
$img-path: '/assets/img/';
$default-font-family: 'Open Sans' !global;

$large-screen-max: $extra-large-screen-min - 1px;
$medium-screen-max: $large-screen-min - 1px;
$tablet-screen-max: $medium-screen-min - 1px;
$small-screen-max: $tablet-screen-min - 1px;
$extra-small-screen-max: $small-screen-min - 1px;

$container-xl-screen: if($allow-fixed-container, $extra-large-screen-min - $gutter-size,calc(85% - #{$gutter-size}));
$container-lg-screen: if($allow-fixed-container, $large-screen-min - $gutter-size, calc(89% - #{$gutter-size}));
$container-md-screen: if($allow-fixed-container, $medium-screen-min - $gutter-size, calc(92% - #{$gutter-size}));
$container-tb-screen: if($allow-fixed-container, $tablet-screen-min - $gutter-size, calc(95% - #{$gutter-size}));
$container-sm-screen: if($allow-fixed-container, calc(100% - #{$gutter-size}), calc(100% - #{$gutter-size}));

