%section-label
{
	position: relative;
	@include font-details(12px,400);
	text-align: center;
	color:#fff;
}

%font-features
{
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
}